<div class="contacts-container" [class.contact-selected]="selectedContact !== null">
  <div class="contacts-sidebar">
    <div class="button-container">
      <button (click)="openAddModal()" class="add-btn">
        Add new contact
        <img src="assets/add-contact-icon.png" alt="Add contact">
      </button>
    </div>

    <div class="contacts-list">
      @for (group of groupedContacts; track group.letter) {
      <div class="letter-group">
        <div class="letter-header">
          <span class="letter">{{ group.letter }}</span>
          <div class="letter-divider"></div>
        </div>

        @for (contact of group.contacts; track contact.id) {
        <div class="contact-list-item" [class.selected]="contact === selectedContact" (click)="selectContact(contact)">
          <span class="avatar" [style.background]="getAvatarColor(contact)">
            {{ getInitials(contact) }}
          </span>
          <div class="contact-info">
            <div class="name">{{ contact.firstname }} {{ contact.lastname }}</div>
            <div class="email">{{ contact.email }}</div>
          </div>
        </div>
        }
      </div>
      }
    </div>
    <button class="mobile-add-btn" (click)="openAddModal()">
      <img src="assets/responsive-add-button.png" alt="Add contact">
    </button>
  </div>

  <div class="contact-details-container">
    <div class="contact-details-header">
      <div class="header-left">
        <h1 class="mobile-title">Contacts</h1>
        <p class="mobile-subtitle">Better with a team</p>
        <div class="mobile-divider"></div>
      </div>
      <button class="back-btn mobile-only" (click)="deselectContact()">
        <img src="assets/responsive-back-button.png" alt="Back">
      </button>
      
      <div class="default-content">
        <h1 class="default-title">
          Contacts
          <span class="default-separator"></span>
          <span class="default-subtitle">Better with a team</span>
        </h1>
      </div>
    </div>

    @if (selectedContact) {
    <div class="contact-details">
      <div class="details-header">
        <span class="avatar big" [style.background]="getAvatarColor(selectedContact!)">{{
          getInitials(selectedContact!) }}</span>
        <div class="header-content">
          <span class="details-name">{{ selectedContact!.firstname }} {{ selectedContact!.lastname }}</span>
          <div class="details-actions desktop-only">
            <button class="icon-btn edit-btn" (click)="openAddModal(selectedContact!)">
              <img src="assets/edit.png" alt="Edit" class="action-icon" />
              Edit
            </button>
            <button class="icon-btn delete-btn" (click)="openDeleteModal()">
              <img src="assets/delete.png" alt="Delete" class="action-icon" />
              Delete
            </button>
          </div>
        </div>
      </div>
      <button class="mobile-edit-btn" (click)="openAddModal(selectedContact!)">
        <img src="assets/responsive-edit-button.png" alt="Edit contact">
      </button>
      <div class="contact-information-title">Contact Information</div>
      <div class="details-info">
        <div class="info-item">
          <strong>Email</strong>
          <a href="mailto:{{selectedContact!.email}}">{{ selectedContact!.email }}</a>
        </div>
        <div class="info-item">
          <strong>Phone</strong>
          <span>{{ selectedContact!.phone }}</span>
        </div>
      </div>
    </div>
    }
  </div>

  @if (showAddModal) {
  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-left">
        <div class="left-text">
          <img class="join-img" src="assets/header-join-icon-vector.png" alt="">
          <h2>Add contact</h2>
          <p>Tasks are better with a team!</p>
          <div class="blue-line"></div>
        </div>
      </div>
      <div class="modal-right">
        <button class="close-btn" (click)="closeAddModal()">×</button>
        <form (ngSubmit)="createContact()" autocomplete="off">
          <div class="placeholder">
            @if (errorMessage) {
            <div class="error-message">{{ errorMessage }}</div>
            }
          </div>
          <div class="input-wrapper">
            <input type="text" placeholder="Name" [(ngModel)]="newContact.firstname" name="firstname" required />
            <img src="assets/person-icon.png" alt="Person" class="input-icon" />
          </div>
          <div class="input-wrapper">
            <input type="email" placeholder="Email" [(ngModel)]="newContact.email" name="email" required />
            <img src="assets/mail-icon.png" alt="Mail" class="input-icon" />
          </div>
          <div class="input-wrapper">
            <input type="text" placeholder="Phone" [(ngModel)]="newContact.phone" name="phone" required />
            <img src="assets/phone-icon.png" alt="Phone" class="input-icon" />
          </div>
          <div class="modal-actions">
            <button type="button" class="secondary" (click)="closeAddModal()">Cancel</button>
            @if (editMode) {
            <button type="button" class="primary" (click)="saveChanges()">Save Changes ✓</button>
            } @else {
            <button type="submit" class="primary">Create contact ✓</button>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
  }
  @if (showDeleteModal) {
  <div class="modal-overlay">
    <div class="modal delete-modal">
      <div class="delete-modal-content">
        <h3>Delete contact</h3>
        <p>
          Do you really want to delete the contact:<br>
          <strong>{{ selectedContact?.firstname }} {{ selectedContact?.lastname }}</strong>
        </p>
        <div class="modal-actions">
          <button type="button" class="secondary" (click)="closeDeleteModal()">Cancel</button>
          <button type="button" class="primary danger" (click)="confirmDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  }
</div>