.contacts-container {
  display: flex;
  gap: 0;
  padding: 0;
  height: 100%;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.delete-modal {
  min-width: 340px;
  max-width: 95vw;
  width: 350px;
  height: auto;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.delete-modal-content {
  padding: 32px 24px;
  text-align: center;
  width: 100%;
}

.delete-modal-content h3 {
  margin-bottom: 16px;
  font-size: 1.3em;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #000000;
}

.delete-modal-content p {
  margin-bottom: 24px;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #000000;
}

.modal-actions {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  justify-content: center;
}

.modal-actions button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.modal-actions .primary {
  background: #223047;
  color: #fff;

  &:hover {
    background: #29abe2;
  }

  &:active {
    background: #091931;
  }
}

.modal-actions .secondary {
  background: #fff;
  color: #223047;
  border: 1px solid #223047;

  &:hover {
    background: #f0f0f0;
  }

  &:active {
    background: #e0e0e0;
  }
}

.modal-actions .danger {
  background: #e53935;
  color: #fff;

  &:hover {
    background: #b71c1c;
  }

  &:active {
    background: #9a0007;
  }
}
